.partner-top-box {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: start;
  margin-bottom: 24px;
}

.partner-top-left {
  flex: 3;
}

.partner-top-right {
  flex: 7;
}

.partner-top-bold {
  color: var(--app-ibc);
  font-weight: 500;
}

.partner-contacts {
  margin-top: 24px;
}

.user-cards {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.user-card {
  width: 250px;
  padding: 0.8rem;
}

.user-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;

  mat-icon {
    font-size: 1.2rem;
    width: 1.2rem;
    height: 1.2rem;
  }
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  min-height: 1.5rem;

  mat-icon {
    font-size: 1.2rem;
    width: 1.2rem;
    height: 1.2rem;
    color: var(--mat-sys-primary);
  }
}
