.partner-top-box {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: start;
  margin-bottom: 24px;
}

.partner-top-left {
  flex: 3;
}

.partner-top-right {
  flex: 7;
  font-size: 1.2em;
}

.partner-top-bold {
  font-weight: 500;
}
