.partner-top-box {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.partner-top-left {
  flex: 0 0 220px;
}

.partner-top-right {
  flex: 1;
}

.partner-top-bold {
  color: var(--app-ibc);
  font-weight: 500;
}

.partner-contacts {
  margin-top: 1.5rem;
}

.user-cards {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.user-card {
  width: 250px;
  padding: 0.8rem;
}

.user-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;

  mat-icon {
    font-size: 1.2rem;
    width: 1.2rem;
    height: 1.2rem;
  }
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  min-height: 1.5rem;

  mat-icon {
    font-size: 1.2rem;
    width: 1.2rem;
    height: 1.2rem;
    color: var(--mat-sys-primary);
  }
}

@media (max-width: 599px) {
  .page-header {
    flex-direction: column;
    align-items: stretch;
  }

  .page-header img {
    align-self: center;
  }

  .partner-top-box {
    flex-direction: column;
    align-items: stretch;
  }

  .partner-top-left {
    display: flex;
    justify-content: center;
  }

  .partner-top-box,
  .partner-top-right,
  .form-block {
    box-sizing: border-box;
  }

  .user-cards {
    grid-template-columns: 1fr;
  }
}
