<div class="single-page-wrapper mw-lg">
  <div class="page-header">
    <h1>Felhasználók</h1>
  </div>

  <div class="filters-bar">
    <div class="filters">
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput [(ngModel)]="emailFilter" (ngModelChange)="loadUsers()">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Teljes név</mat-label>
        <input matInput [(ngModel)]="fullNameFilter" (ngModelChange)="loadUsers()">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Szerepkör</mat-label>
        <mat-select [(ngModel)]="roleFilter" (selectionChange)="loadUsers()">
          <mat-option value="">Összes</mat-option>
          @for (role of ALL_ROLES; track role) {
            <mat-option [value]="role">
              {{ roleLabel(role) }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="list-actions">
      <button matButton="elevated" routerLink="/users/create">
        Új felhasználó
      </button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSort($event)">

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</th>
      <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>

    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Teljes név</th>
      <td mat-cell *matCellDef="let user">{{ user.fullName }}</td>
    </ng-container>

    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef>Szerepkörök</th>
      <td mat-cell *matCellDef="let user">
        <mat-chip-set>
          @for (r of user.roles; track r) {
            <mat-chip>
              {{ roleLabel(r) }}
            </mat-chip>
          }
        </mat-chip-set>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>

      <td mat-cell *matCellDef="let user">
        <button mat-icon-button matTooltip="Megtekintés" [routerLink]="['/users/view', user.id]">
          <mat-icon>visibility</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Szerkesztés" [routerLink]="['/users/edit', user.id]">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['email', 'fullName', 'roles', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['email', 'fullName', 'roles', 'actions']"></tr>

  </table>

  <mat-paginator
    [length]="totalElements"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[10, 20, 50]"
    (page)="onPage($event)">
  </mat-paginator>
</div>
