<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="hu">
<body style="font-family: Arial,serif;">

<h2>Üdv, <span th:text="${name}"></span>!</h2>

<p>Megváltozott egy jutalék beállítás a myIBC platformon.</p>

<p>Változtatást végző felhasználó: <span th:text="${userName}"></span></p>
<p>Jutalék szint: <span th:text="${commissionLevel}"></span></p>

<p>Változások:</p>
<ul>
    <li th:each="change : ${changes}" th:text="${change}"></li>
</ul>

<p><a th:href="${link}">Itt</a> tudsz belépni a myIBC platformra.</p>
</body>
</html>