<div class="shell">

  <mat-sidenav-container>

    <mat-sidenav #drawer position="end" mode="over" [autoFocus]="false">
      <div class="sidenav-menu">
        <button mat-button routerLink="/dashboard" (click)="drawer.close()">Partner adatbázis</button>
        @if (authService.hasRole('ADMIN')) {
          <button mat-button routerLink="/users" (click)="drawer.close()">Felhasználók</button>
        }
        <button mat-button routerLink="/settings" (click)="drawer.close()">Saját fiók</button>
        <button mat-button (click)="logout()">Kijelentkezés</button>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- TOP BAR -->
      <mat-toolbar class="topbar">

        <div class="brand">myIBC</div>

        <span class="spacer"></span>

        <button mat-icon-button (click)="drawer.toggle()" class="mobile-menu">
          <mat-icon>menu</mat-icon>
        </button>

        <div class="menu desktop-only">
          <button matButton routerLink="/dashboard">Partner adatbázis</button>
          @if (authService.hasRole('ADMIN')) {
            <button matButton routerLink="/users">Felhasználók</button>
          }
          <button matButton routerLink="/settings">Saját fiók</button>
        </div>

        <div class="logout desktop-only">
          <button matButton (click)="logout()">Kijelentkezés</button>
        </div>

      </mat-toolbar>

      <!-- CONTENT -->
      <div class="content">
        <router-outlet></router-outlet>
      </div>

      <!-- BOTTOM BAR -->
      <mat-toolbar class="bottombar">

        <div class="menu">
          <button matButton routerLink="/aszf">ÁSZF</button>
          <button matButton routerLink="/gdpr">Adatkezelés nyilatkozat</button>
          <button matButton routerLink="/info">Általános információk</button>
        </div>

      </mat-toolbar>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
