<div class="single-page-wrapper mw-md">
  <div class="page-header">
    <h1>Beállítások</h1>
    <button mat-icon-button matTooltip="Jutalék beállítások" routerLink="/commission-setting">
      <mat-icon>paid</mat-icon>
    </button>
  </div>

  <div class="filters-bar">
    <div class="filters">
      <mat-form-field>
        <mat-label>Kulcs</mat-label>
        <mat-select [formControl]="key" required>
          <mat-option></mat-option>
          @for (key of settingKeys; track key) {
            <mat-option [value]="key">{{ key }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Név</mat-label>
        <input matInput [formControl]="name" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Érték</mat-label>
        <input matInput [formControl]="value">
      </mat-form-field>
    </div>
    <div class="list-actions">
      @if (editMode) {
        <button mat-icon-button matTooltip="Mégsem" (click)="cancel()">
          <mat-icon>undo</mat-icon>
        </button>
      }
      <button matButton="elevated" (click)="save()" [disabled]="key.invalid || name.invalid">
        @if (editMode) {
          Mentés
        } @else {
          Új beállítás
        }
      </button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSort($event)">
    <ng-container matColumnDef="key">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Kulcs</th>
      <td mat-cell *matCellDef="let setting">{{ setting.key }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Név</th>
      <td mat-cell *matCellDef="let setting">{{ setting.name }}</td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Érték</th>
      <td mat-cell *matCellDef="let setting">{{ setting.value }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>

      <td mat-cell *matCellDef="let setting">
        <button mat-icon-button matTooltip="Szerkesztés" (click)="edit(setting)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['key', 'name', 'value', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['key', 'name', 'value', 'actions']"></tr>

  </table>

  <mat-paginator
    [length]="totalElements"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[10, 20, 50]"
    (page)="onPage($event)">
  </mat-paginator>
</div>
