.form-page-wrapper {
  padding: 24px;
  margin: 0 auto;
  background-color: var(--mat-sys-surface-container-low);
  width: 90%;
  border-radius: 12px;
}

.mw-sm {
  max-width: 400px;
}

.mw-md {
  max-width: 825px;
}

.mw-lg {
  max-width: 1250px;
}

.page-header {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

.header-id {
  font-size: 11px;
  color: #777;
  margin-top: 2px;
  vertical-align: super;
}

.form-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center;
  gap: 24px;

  align-items: start;
}

.form-block {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 12px;

  border: 1px solid;
  border-radius: 6px;
}

.form-block h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
}

.readonly-field {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding-left: 16px;
  padding-top: 7px;
  padding-bottom: 0.6rem;
  margin-bottom: 1.3rem;
}

.readonly-row {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.label {
  font: var(--mat-sys-body-small);
}

.value {
  height: var(--mat-sys-body-large-size);
  font: var(--mat-sys-body-large);
}

.bold-input input.mat-mdc-form-field-input-control {
  font-weight: 600;
}

.bold-text {
  font-weight: 600;
}

.space-after {
  margin-bottom: 0.6rem;
}
