.form-page-wrapper {
  padding: 24px;
  margin: 0 auto;
  background-color: var(--mat-sys-surface-container-low);
  width: 90%;
  border-radius: 12px;
}

.mw-sm {
  max-width: 400px;
}

.mw-md {
  max-width: 825px;
}

.mw-lg {
  max-width: 1250px;
}

.page-header {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

.form-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center;
  gap: 24px;

  align-items: start;
}

.form-block {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 12px;

  border: 1px solid;
  border-radius: 6px;
}

.form-block h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
}

.readonly-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-left: 16px;
  padding-top: 6px;
  padding-bottom: 8px;
  margin-bottom: var(--mat-sys-body-small-line-height);
}

.readonly-row {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.label {
  font-size: 12px;
}

.value {
  height: 20px;
  font-size: 16px;
}
