.single-page-wrapper {
  padding: 24px;
  margin: 0 auto;
  background-color: var(--mat-sys-surface-container-low);
  width: 90%;
  border-radius: 12px;
}

.multiselect-field {
  width: 420px;
}

.filters-bar {
  display: flex;
  align-items: center;
  gap: 16px;
}

.filters {
  display: flex;
  gap: 16px;
  flex: 1;
  flex-wrap: wrap;
}

.list-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
}

.mat-column-actions {
  width: 116px;
  white-space: nowrap;
  overflow: visible;
}

.list-cards {
  margin-top: 0.5rem;
  display: none;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.list-card {
  width: 100%;
  max-width: 350px;
  padding: 0.8rem;
}

.list-card-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.list-card-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-height: 1.5rem;
  margin-bottom: 0.3rem;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.info-title {
  font-weight: 500;
  color: var(--mat-sys-primary);
}

@media (max-width: 599px) {
  .multiselect-field {
    width: 100%;
    max-width: 350px;
  }

  .list-table {
    display: none;
  }

  .list-cards {
    display: grid;
  }
}
