.single-page-wrapper {
  padding: 24px;
  margin: 0 auto;
  background-color: var(--mat-sys-surface-container-low);
  width: 90%;
  border-radius: 12px;
}

.multiselect-field {
  width: 420px;
}

.filters-bar {
  display: flex;
  align-items: center;
  gap: 16px;
}

.filters {
  display: flex;
  gap: 16px;
  flex: 1;
  flex-wrap: wrap;
}

.list-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
