.filters-bar {
  display: flex;
  align-items: center;
  gap: 16px;
}

.filters {
  display: flex;
  gap: 16px;
  flex: 1;
  flex-wrap: wrap;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

table {
  width: 100%;
}
