<div class="form-page-wrapper mw-md">
  <div class="page-header">
    <h1>Jutalék beállítások</h1>
  </div>

  <div class="readonly-field">
    <span class="label">Jutalék szint</span>
    <span class="value">{{ commissionLevel() }}</span>
  </div>

  <form [formGroup]="form">
    <div class="form-page">
      <section class="form-block">
        <mat-form-field [appearance]="appearance()">
          <mat-label>Partneri jutalék</mat-label>
          <input matInput type="number" formControlName="sellerPercent" required [readonly]="readonly()"/>
        </mat-form-field>
        <mat-form-field [appearance]="appearance()">
          <mat-label>Direktor 1</mat-label>
          @if (readonly()) {
            <input matInput [value]="getUserName(form.controls.director1Id.value)" readonly/>
          } @else {
            <mat-select formControlName="director1Id">
                <mat-option></mat-option>
                @for (admin of admins.value()?.content; track admin.id) {
                  <mat-option [value]="admin.id">
                    {{ admin.fullName }}
                  </mat-option>
                }
            </mat-select>
          }
        </mat-form-field>
        <mat-form-field [appearance]="appearance()">
          <mat-label>Direktor 2</mat-label>
          @if (readonly()) {
            <input matInput [value]="getUserName(form.controls.director2Id.value)" readonly/>
          } @else {
            <mat-select formControlName="director2Id">
              <mat-option></mat-option>
              @for (admin of admins.value()?.content; track admin.id) {
                <mat-option [value]="admin.id">
                  {{ admin.fullName }}
                </mat-option>
              }
            </mat-select>
          }
        </mat-form-field>
        <mat-form-field [appearance]="appearance()">
          <mat-label>Direktor 3</mat-label>
          @if (readonly()) {
            <input matInput [value]="getUserName(form.controls.director3Id.value)" readonly/>
          } @else {
            <mat-select formControlName="director3Id">
              <mat-option></mat-option>
              @for (admin of admins.value()?.content; track admin.id) {
                <mat-option [value]="admin.id">
                  {{ admin.fullName }}
                </mat-option>
              }
            </mat-select>
          }
        </mat-form-field>
        <mat-form-field [appearance]="appearance()">
          <mat-label>Üzletkötő</mat-label>
          @if (readonly()) {
            <input matInput [value]="getUserName(form.controls.referralId.value)" readonly/>
          } @else {
            <mat-select formControlName="referralId">
              <mat-option></mat-option>
              @for (admin of allUsers.value()?.content; track admin.id) {
                <mat-option [value]="admin.id">
                  {{ admin.fullName }}
                </mat-option>
              }
            </mat-select>
          }
        </mat-form-field>
      </section>
      <section class="form-block">
        <mat-form-field [appearance]="appearance()">
          <mat-label>Vevő kedvezmény</mat-label>
          <input matInput type="number" formControlName="buyerPercent" [readonly]="readonly()"/>
        </mat-form-field>
        <mat-form-field [appearance]="appearance()">
          <mat-label>Direktor 1 jutalék</mat-label>
          <input matInput type="number" formControlName="director1Percent" [readonly]="readonly()"/>
        </mat-form-field>
        <mat-form-field [appearance]="appearance()">
          <mat-label>Direktor 2 jutalék</mat-label>
          <input matInput type="number" formControlName="director2Percent" [readonly]="readonly()"/>
        </mat-form-field>
        <mat-form-field [appearance]="appearance()">
          <mat-label>Direktor 3 jutalék</mat-label>
          <input matInput type="number" formControlName="director3Percent" [readonly]="readonly()"/>
        </mat-form-field>
        <mat-form-field [appearance]="appearance()">
          <mat-label>Üzletkötői jutalék</mat-label>
          <input matInput type="number" formControlName="referralPercent" [readonly]="readonly()"/>
        </mat-form-field>
        <div class="readonly-field">
          <span class="label">Összes jutalék</span>
          <span class="value">{{ countCommission() }}</span>
        </div>
      </section>
    </div>

    <div class="form-actions">
      @if (displayMode === 'edit') {
        <button matButton type="button" (click)="cancel()">Mégsem</button>
        <button matButton="elevated" (click)="save()" [disabled]="form.invalid">Mentés</button>
      } @else {
        <button matButton type="button" (click)="cancel()">Vissza</button>
      }
    </div>
  </form>
</div>
