<div class="form-page-wrapper mw-md">
  <div class="page-header">
    <h1>Regisztráció</h1>
  </div>

  <form [formGroup]="form">
    <div class="form-page">
      <section class="form-block">
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" required email/>
          @if (email.hasError('email') && email.touched) {
            <mat-error>
              Hibás e-mail cím formátum
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Teljes név</mat-label>
          <input matInput formControlName="fullName" required/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Telefonszám</mat-label>
          <input matInput formControlName="phone" required/>
        </mat-form-field>

        @if (referralCode()) {
          <div class="readonly-field">
            <span class="label">Ajánlói kód</span>
            <span class="value">{{ referralCode() }}</span>
          </div>
        }
      </section>

      <section class="form-block">
        <mat-form-field>
          <mat-label>Cégnév</mat-label>
          <input matInput formControlName="companyName" required/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Adószám</mat-label>
          <input matInput formControlName="taxNumber" required maxlength="8"/>
          @if (form.controls.taxNumber.hasError('taxNumber') && form.controls.taxNumber.touched) {
            <mat-error>Érvénytelen adószám</mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Honnan ismered a myIBC-t?</mat-label>
          <textarea matInput formControlName="source" required
                    cdkTextareaAutosize cdkAutosizeMinRows="4" cdkAutosizeMaxRows="15"></textarea>
        </mat-form-field>

      </section>
    </div>

    <div class="form-actions">
      <button matButton type="button" (click)="cancel()">
        Mégsem
      </button>

      <button matButton="elevated" (click)="save()" [disabled]="form.invalid">
        Regisztráció
      </button>
    </div>
  </form>
</div>
