<div class="form-page-wrapper mw-md" xmlns="http://www.w3.org/1999/html">
  <div class="page-header">
    <h1>Partner</h1>
    @if (displayMode === 'edit') {
      <button mat-icon-button matTooltip="Jutalék beállítások" routerLink="/commission-setting" [queryParams]="{ partnerId: form.controls.id.value }">
        <mat-icon>paid</mat-icon>
      </button>
    }
  </div>

  <form [formGroup]="form">
    <div class="form-page">
      <section class="form-block">
        <div class="readonly-field">
          <span class="label">Ajánlói kód</span>
          <span class="value">{{ referralCode ? referralCode : 'nincs' }}</span>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Adószám</mat-label>
          <input matInput formControlName="taxNumber" required/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Cégnév</mat-label>
          <input matInput formControlName="name" required/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Székhely</mat-label>
          <input matInput formControlName="headquarters" required/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Telephely</mat-label>
          <input matInput formControlName="site"/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Település</mat-label>

          <input matInput formControlName="location" [matAutocomplete]="cityAutocomplete">
          <mat-autocomplete #cityAutocomplete="matAutocomplete">
            @for (city of filteredCities(); track city) {
              <mat-option [value]="city">{{ city }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </section>

      <section class="form-block">
        <mat-form-field appearance="outline">
          <mat-label>Kontakt</mat-label>
          <input matInput formControlName="contact"/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Telefonszám</mat-label>
          <input matInput formControlName="phone"/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email"/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Webhely</mat-label>
          <input matInput formControlName="website"/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Tevékenységek</mat-label>
          <mat-select formControlName="activities" multiple>
            @for (activity of activities(); track activity) {
              <mat-option [value]="activity.id">
                {{ activity.activity }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Kulcsszavak</mat-label>
          <textarea matInput formControlName="keyWords" required
                    cdkTextareaAutosize cdkAutosizeMinRows="4" cdkAutosizeMaxRows="15" maxlength="250"></textarea>
        </mat-form-field>
      </section>

      @if (displayMode === 'edit') {
        <section class="form-block">
          <app-image-upload formControlName="photo" [previewWidth]="220" [previewHeight]="280"></app-image-upload>
        </section>

        <section class="form-block">
          <app-image-upload formControlName="logo" [previewWidth]="350" [previewHeight]="40"></app-image-upload>
        </section>
      }
    </div>

    @if (displayMode === 'edit') {
      <div class="html-editor">
        <ckeditor
          [editor]="editor"
          [config]="config"
          formControlName="introduction">
        </ckeditor>
      </div>
    }

    <div class="form-actions">
      <button matButton type="button" (click)="cancel()">
        Mégsem
      </button>

      <button matButton="elevated" (click)="save()" [disabled]="form.invalid">
        Mentés
      </button>
    </div>
  </form>
</div>
