<div class="form-page-wrapper mw-sm">
  <div class="page-header">
    <h1>Új jelszó megadása</h1>
  </div>

  <form [formGroup]="form">
    <div class="form-page">
      <section class="form-block">
        <mat-form-field appearance="outline">
          <mat-label>Jelszó</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password"/>
          <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()" tabindex="-1">
            <mat-icon>
              {{ hidePassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </button>
          @if (checkRequired()) {
            <mat-error>Jelszó kötelező</mat-error>
          }
          @if (checkMinLength()) {
            <mat-error>Minimum 8 karakter</mat-error>
          }
          @if (checkAllCharTypes()) {
            <mat-error>Min. egy szám, nagy- és kisbetű</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Jelszó újra</mat-label>
          <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword"/>
          <button mat-icon-button matSuffix type="button" (click)="toggleConfirmPasswordVisibility()" tabindex="-1">
            <mat-icon>
              {{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </button>
          @if (form.get('confirmPassword')?.hasError('passwordMismatch')) {
            <mat-error>A jelszavak nem egyeznek</mat-error>
          }
        </mat-form-field>
      </section>

      <div class="form-actions">
        <button matButton="elevated" (click)="submit()" [disabled]="form.invalid">
          Jelszó beállítása
        </button>
      </div>
    </div>
  </form>
</div>
