@use '@angular/material' as mat;

.shell {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

/* TOP BAR */
.topbar {
  display: flex;
  align-items: center;
  position: relative;
}

.brand img {
  width: clamp(100px, 12vw, 150px);
  height: auto;
  margin-right: 24px;
}

.menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 8px;
}

.logout {
  margin-left: auto;
}

/* CONTENT */
.content {
  flex: 1;
  overflow: auto;
  padding: 20px 20px 72px;
}

/* BOTTOM BAR */
.bottombar {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.mobile-menu {
  display: none;
  margin-left: auto;
}

@media (max-width: 768px) {

  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}
