<div class="shell">

  <!-- TOP BAR -->
  <mat-toolbar class="topbar">
    <div class="brand">
      <a routerLink="/dashboard">
        <img src="/myibc_logo.png" alt="myIBC"/>
      </a>
    </div>

    @if (authService.isLoggedIn()) {
      <div class="menu desktop-menu">
        <button matButton routerLink="/partners">Partner adatbázis</button>
        @if (authService.hasRole(Role.ADMIN)) {
          <button matButton routerLink="/applications">Érdeklődők</button>
          <button matButton [matMenuTriggerFor]="adminMenu">Admin</button>

          <mat-menu #adminMenu="matMenu">
            <button mat-menu-item routerLink="/users">Felhasználók</button>
            <button mat-menu-item routerLink="/activities">Tevékenységek</button>
            <button mat-menu-item routerLink="/settings">Beállítások</button>
          </mat-menu>
        }
        <button matButton routerLink="/profile">Saját fiók</button>
      </div>

      <div class="logout desktop-menu">
        <button matButton (click)="logout()">Kijelentkezés</button>
      </div>

      <div class="mobile-menu">
        <button mat-icon-button [matMenuTriggerFor]="mobileMenu">
          <mat-icon>menu</mat-icon>
        </button>

        <mat-menu #mobileMenu="matMenu">
          <button mat-menu-item routerLink="/partners">Partner adatbázis</button>
          @if (authService.hasRole(Role.ADMIN)) {
            <button mat-menu-item routerLink="/applications">Érdeklődők</button>
            <button mat-menu-item routerLink="/users">Felhasználók</button>
            <button mat-menu-item routerLink="/activities">Tevékenységek</button>
            <button mat-menu-item routerLink="/settings">Beállítások</button>
          }
          <button mat-menu-item routerLink="/profile">Saját fiók</button>

          <mat-divider></mat-divider>

          <button mat-menu-item (click)="logout()">Kijelentkezés</button>
        </mat-menu>
      </div>
    }
  </mat-toolbar>

  <!-- CONTENT -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <!-- BOTTOM BAR -->
  <mat-toolbar class="bottombar">
    <div class="menu">
      <button matButton routerLink="/aszf">ÁSZF</button>
      <button matButton routerLink="/gdpr">Adatkezelés nyilatkozat</button>
      <button matButton routerLink="/info">Általános információk</button>
    </div>
  </mat-toolbar>

</div>
