.login-page {
  max-width: 400px;
  margin: 0 auto;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

mat-form-field {
  width: 100%;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

mat-card-header {
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 599px) {
  .login-page {
    max-width: 340px;
  }
}
