<div class="login-page">
  <mat-card class="login-card">

    <mat-card-header class="login-header">
      <mat-card-title>Bejelentkezés</mat-card-title>
      <button matButton routerLink="/public/applicant">Regisztráció</button>
    </mat-card-header>

    <mat-card-content>

      <form class="login-form" (ngSubmit)="onLogin()" #loginForm="ngForm">

        <mat-form-field>
          <mat-label>E-mail cím</mat-label>
          <input matInput [(ngModel)]="username" name="username" required #usernameControl="ngModel">
          @if (usernameControl.invalid && usernameControl.touched) {
            <mat-error>
              Az e-mail cím kötelező
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Jelszó</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="password" name="password" required #passwordControl="ngModel">
          <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()" tabindex="-1">
            <mat-icon>
              {{ hidePassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </button>
          @if (passwordControl.invalid && passwordControl.touched) {
            <mat-error>
              A jelszó kötelező
            </mat-error>
          }
        </mat-form-field>

        <div class="actions">
          <button matButton="elevated" type="submit" [disabled]="loginForm.invalid">
            Bejelentkezés
          </button>
          <button matButton routerLink="/public/forgotten-password">
            Elfelejtett jelszó
          </button>
        </div>
      </form>

    </mat-card-content>

  </mat-card>
</div>
