// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'styles/form-page';
@use 'styles/single-page';
@use 'styles/chips-status';

:root {
  --mat-sys-background: #02091b;
  --mat-sys-surface: #0b1326;

  --mat-sys-surface-container-low: #101a31;
  --mat-sys-surface-container: #16213d;
  --mat-sys-surface-container-high: #1c294a;
}

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: dark;

  background-image: url('/myibc_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: #eaeaea;
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */

@include mat.form-field-overrides((
  filled-container-color: var(--mat-sys-surface-container-low)
));

.snackbar-error {
  @include mat.snack-bar-overrides((
    container-color: var(--mat-sys-error),
    supporting-text-color: var(--mat-sys-on-error),
    button-color: var(--mat-sys-on-error)
  ));
}

.snackbar-warning {
  @include mat.snack-bar-overrides((
    container-color: var(--mat-sys-tertiary),
    supporting-text-color: var(--mat-sys-on-tertiary),
    button-color: var(--mat-sys-on-tertiary)
  ));
}

.snackbar-success {
  @include mat.snack-bar-overrides((
    container-color: var(--mat-sys-primary),
    supporting-text-color: var(--mat-sys-on-primary),
    button-color: var(--mat-sys-on-primary)
  ));
}

.snackbar-info {
  @include mat.snack-bar-overrides((
    container-color: var(--mat-sys-surface-container-high),
    supporting-text-color: var(--mat-sys-on-surface),
    button-color: var(--mat-sys-primary)
  ));
}

.confirm-dialog {
  .mat-mdc-dialog-surface {
    background-color: var(--mat-sys-surface-container)
  }
}
