.mat-column-allDiscounts {
  text-align: right;
}

.mat-column-availableBalance {
  text-align: right;
}

.mat-column-blockedBalance {
  text-align: right;
}

.mat-column-allUsedDiscounts {
  text-align: right;
}

h2 {
  margin: 0;
}

.received-discount {
  color: var(--app-success);
}

.given-discount {
  color: var(--app-error);
}

