<div class="form-page-wrapper mw-sm">
  <div class="page-header">
    <h1>
      @if (displayMode === 'sell') {
        Eladás rögzítése
      } @else if (displayMode === 'buy') {
        Vétel rögzítése
      } @else {
        Ügylet rögzítése
      }
    </h1>
  </div>

  <form [formGroup]="form">
    <div class="form-page">
      <section class="form-block">
        @if (displayMode === 'sell') {
          <mat-form-field appearance="fill">
            <mat-label>Eladó</mat-label>
            <mat-select formControlName="sellerId">
              <mat-option [value]="activePartnerService.activePartnerId()">{{ activePartnerService.getActivePartnerName() }}</mat-option>
            </mat-select>
          </mat-form-field>
        } @else {
          <mat-form-field>
            <mat-label>Eladó</mat-label>
            <input type="text" matInput [formControl]="sellerSearch" [matAutocomplete]="autoSeller" required/>
            <mat-autocomplete #autoSeller="matAutocomplete" [displayWith]="displayPartner" (optionSelected)="onSelectedSeller($event.option.value)">
              @for (partner of filteredSellers(); track partner.id) {
                <mat-option [value]="partner">{{ partner.name }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        }

        @if (displayMode === 'buy') {
          <mat-form-field appearance="fill">
            <mat-label>Vevő</mat-label>
            <mat-select formControlName="buyerId">
              <mat-option [value]="activePartnerService.activePartnerId()">{{ activePartnerService.getActivePartnerName() }}</mat-option>
            </mat-select>
          </mat-form-field>
        } @else {
          <mat-form-field>
            <mat-label>Vevő</mat-label>
            <input type="text" matInput [formControl]="buyerSearch" [matAutocomplete]="autoBuyer" required/>
            <mat-autocomplete #autoBuyer="matAutocomplete" [displayWith]="displayPartner" (optionSelected)="onSelectedBuyer($event.option.value)">
              @for (partner of filteredBuyers(); track partner.id) {
                <mat-option [value]="partner">{{ partner.name }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        }

        <mat-form-field>
          <mat-label>Bizonylat száma</mat-label>
          <input matInput formControlName="invoiceNumber" matTooltip="Ügylet azonosításához kitöltendő" maxlength="40"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Nettó összeg</mat-label>
          <input matInput formControlName="amount" required matTooltip="Az ügylet nettó értéke"/>
          <span matTextSuffix>&nbsp;Ft</span>
        </mat-form-field>

        <div class="readonly-field" matTooltip="A partnerkapcsolatból származó igénybevehető nettó kedvezmény">
          <span class="label">Igénybevehető nettó kedvezmény</span>
          <span class="value">{{ (availableDiscount.hasValue() ? availableDiscount.value()?.availableBalance ?? 0 : 0) | number:'1.0-0' }} Ft</span>
        </div>

        <mat-form-field>
          <mat-label>Felhasználni kívánt nettó kedvezmény</mat-label>
          <input matInput formControlName="discount" required matTooltip="Jelen ügylethez felhasználni kívánt kedvezmény nettó összege"/>
          <span matTextSuffix>&nbsp;Ft</span>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Megnevezés</mat-label>
          <input matInput formControlName="description" maxlength="100" matTooltip="Az ügylet rövid leírása"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Teljesítés dátuma</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fulfillmentDate"/>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </section>
    </div>

    <div class="form-actions">
      <button matButton type="button" (click)="cancel()">
        Mégsem
      </button>

      <button matButton="elevated" (click)="save()" [disabled]="form.invalid">
        Mentés
      </button>
    </div>
  </form>
</div>
